/* Banner */

	#banner {
		background-image: url(../images/dark_tint.png), url(../images/homepage2.jpg);
		background-position: center center;
		background-size: cover;
		color: #ffffff;
		padding: 14em 0em 14em;
		text-align: center;
	}